# Android Studio
*.iml
.gradle/
.idea/
.idea/*

# Include only necessary IntelliJ configs
!.idea/gradle.xml
!.idea/misc.xml
!.idea/runConfigurations/

# Build output
/build/
**/build/
.cxx/
.externalNativeBuild/
captures/

# Local properties
local.properties

# Mac
.DS_Store

# Logs
*.log
*.orig

# Env
.env
.env.*

# Others
*.keystore
