# Android specific files
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# Build output
/build
.cxx
.externalNativeBuild
/captures

# Local configuration
local.properties

# Environment variables and sensitive files
.env
.env.local

# Logs
*.log
*.orig
*.pf

# IDE and Editor files
/.idea/*
!.idea/gradle.xml
!.idea/misc.xml
!.idea/runConfigurations

# Gradle Wrapper
/gradle-wrapper.jar